.accordion {
  display:flex;
  flex-direction: column;
  height: 47px;
  align-items: center;
  width:100%;
  
.accordion-item {
  list-style: none;
  width: 70%;
  justify-items: center;
}
.accordion-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-1;
  padding: 1em;
  color:$color-3;
  border-radius: 5px;
  margin-top: 20px;;
}
}
.accordion-toggle h3 {
  margin: 0;
  border-radius: 10px;
}
.accordion-content {
  background-color:$color-4;
  padding: 1em;
  color:$color-1;
}
