.Card{
  height: 21.25rem;
  width: 21.25rem;
  color:$color-3;
  position: relative;
  object-fit:fill;
  .CardTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-right: 20px;
    text-align:start;
  }
  img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-size: 100%;
    object-fit:cover ;
  }
  @media (max-width: 1689px){
    height: 22rem;
    width: 22rem;
    .CardTitle{
      font-size:18px;
    }

  }
  
  @media (max-width: 1350px){
    height: 18rem;
    width: 18rem;
  }
  @media (max-width: 1155px){
    height: 15rem;
    width: 15rem;
  }
  @media (max-width: 1017px){
    height: 12rem;
    width: 12rem;
    .CardTitle{
      font-size:12px;
    }
  }
  @media (max-width: 875px){
    height: 10rem;
    width: 10rem;
    .CardTitle{
      font-size:10px;
    }
  }
  
  @media (max-width: 570px){
    height: 14rem;
    width: 14rem;
  }
  @media (max-width: 280px){
    height: 10rem;
    width: 10rem;
  }
}

