.Card{
  height: 21.25rem;
  width: 21.25rem;
  border-radius: 10px;
  background-color: $color-1;
  color:$color-3;
  position: relative;
  .CardTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}