.Home{
  width: 100%;
  margin-bottom: 200px;
  .Banner{
      display: flex;
      height: 98%;
      filter: brightness(0.5);
      img{
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
  }
  .Section{
    height: 223px;
    position: relative;
    .cardTitle{
      h3{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        display: flex;
        width: 100%;
        color:$color-3;
        position:absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;   
      }
    }
  }
  .Cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 50px;
    justify-content: space-evenly ;
    height: auto;
    background-color: $color-4;
    border-radius: 25px;
    margin:30px 60px 30px 60px;
  }  
}

