.Home{
  margin-bottom: 200px;
  .Banner{
      display: flex;
      height: 98%;
      width: 100%;
      position:relative;
      filter: brightness(0.5);
      img{
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
  }
  .Section{
    height: 223px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    
    h3{
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 142.6%;
      display: flex;
      width: 100%;
      color:$color-3;
      position:absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;   
    }
  }
  .Cards{
    display: flex;
    margin-top :60px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    background-color: $color-4;
    border-radius: 25px;
    a{
      margin:20px;
    }
  }  
  @media (max-width: 850px){
    .Section{
      h3{
        font-size: 36px;
      }
    }
  }
  @media (max-width: 660px){
    .Section{
      h3{
        font-size: 24px;
      }
    }
  }
  @media (max-width: 500px){
    .Section{
      padding-left: 20px;
      padding-right: 20px;
      height: 120px;
      h3{
       padding-left: 30px;
       padding-right: 30px;
      }
    }
    .Cards{
      margin-top :20px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
    }
    
  }
}

