.Apropos{
  height: auto;
  padding-bottom: 500px;
 .Section{
    height: 223px;
    position: relative;
    .Banner{
      display: flex;
      height: 98%;
      filter: brightness(0.5);
      img{
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
    }
  }
  ul{
    display:flex;
    padding-bottom:400px;
  }
  @media (max-width: 750px){
    padding-bottom: 700px;
    .Section{
      height: 180px;
    }

  }
  @media (max-width: 440px){
    padding-bottom: 1300px;
   .Section{
    height: 120px;
    padding-left: 20px;
    padding-right: 20px;
     .Banner{
     
     }
   }
  }
}


