.Apropos{
  height: auto;
  padding-bottom: 300px;
 .Section{
    height: 223px;
    position: relative;
    .Banner{
      display: flex;
      height: 98%;
      filter: brightness(0.5);
      img{
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
    }
  }
  ul{
    display:flex;
    padding-bottom:400px;}
}


