@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-1: "Montserrat", sans-serif;

$color-1: #FF6060;
$color-2: #000000;
$color-3: #FFFFFF;
$color-4: #F6F6F6;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {overflow: scroll;}
body {
  height:100%;
	width:100%;
  font-family: $font-1;
}
section {
  padding-left: 60px;
  padding-right: 60px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
 
  cursor: pointer;
}
